/*html, body, .container-fluid {
  width: 100%;
  height: 100%;
}*/

#mainContent {
  height: 100%;
}

svg {
  background: #8fbbb2;
    box-sizing: border-box;
}

.country {
  stroke: white;
  fill: black;
}

.country:hover {
  fill: red;
}
