body, html, .container-fluid {
     height: 100%;
}

body {
  overflow: hidden;
}

div {
  /*border: 2px solid #7a7a7a;*/
}

#header {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  padding-left: 25px;

  font-size: 28px;
  font-weight: bolder;
}

#header>div{
  display: inline-block;

  margin-left: 25px;
}

.filterOptions {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #fec44f;
  background: #fff7bc;
  border-radius: 10px;
}

#timeline {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

#top {
  width: 100%;
  /*display: block;
  position: absolute;*/
  height: 8%;
  padding: 5px;
}

#middle {
  width: 100%;
  /*display: block;
  position: absolute;*/
  height: 17%;
  padding: 5px;
}

#bottom {
  width: 100%;
  /*display: block;
  position: absolute;*/
  height: 72%;
  padding: 5px;
}

#map {
  box-sizing: border-box;
  /*display: inline-block;*/
  height: 100%;
  padding: 5px;
}

#events {
  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  padding: 10px;

  border-radius: 20px;

  border: 5px solid white;
  background: #7a7a7a;

}

.event {
  display: none;

  margin: 3px;
  padding: 10px;
  /*width: 100%;*/

  color: black;
  border: 3px solid #225ea8;
  border-radius: 10px;
  background: #1d91c0;
}

.event>h4{
  font-weight: bold;
}

.chapterText {
  font-style: italic;
}

.event>h5 {
  font-weight: bold;
}

.event-active {
  display: inline-block;
}

.event-chapterSelected {
    display: inline-block;
    border: 3px solid #fec44f;
    background: #fff7bc;
}

.event:hover {
  /*color: white;*/
  border: 3px solid #1d91c0;
  background: #41b6c4;
}

.event-selected {
  border: 3px solid #d7301f;
  background: #ef6548;

  font-weight: bolder;
}

.event-selected:hover {

    border: 3px solid #ef6548;
    background: #fc8d59;

    font-weight: bolder;
}

/* SVG styles */

#map>svg {
  background: #80cdc1;
  border-radius: 20px;
}

.country {
  fill: #addd8e;
  stroke: #238443;
}

.country:hover {
  fill: #78c679;
}

.country-selected {
  fill: #41ab5d;
}

.noEvents {
  fill: #b0a99b;
}

.noEvents:hover{
  fill: #cdcbc7;
}

.eventPoint {
  fill: #1d91c0;
  stroke: black;
  pointer-events: none;
  stroke-width: 2;
}

.eventPoint-selected {
  fill: #ef6548 !important;
  stroke: black;
}

.eventPoint-chapter {
  fill: #fec44f;
  stroke: black;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.eventPoint-faded, .eventPoint-filtered{
  /*stroke: #000000;*/
  stroke: #FFFFFF;
  fill-opacity: 0.0;
  stroke-opacity: 0.3;
}


.boundary {
  fill: none;
  stroke: #238443;
  stroke-width: .5px;
}

.graticule {
  fill: none;
  stroke: #238443;
  stroke-width: .5px;
  stroke-opacity: .5;
}

#timeline>svg {
  background: #cfcfcf;
  border-radius: 20px;
}

#timeline>svg>text {
  font-size: 40px;
}

.timelineEvent {
  fill: #1d91c0;
  stroke: black;
  fill-opacity: 0.5;
}

.timelineEvent-selected {
  fill: #ef6548 !important;
  stroke: black;
}

.timelineEvent-chapter {
  fill: #fec44f;
  stroke: black;
  fill-opacity: 0.5;
  stroke-opacity: 1;
}

.timelineEvent-faded, .timelineEvent-filtered {
  stroke: #000000;
  fill-opacity: 0.0;
  stroke-opacity: 0.25;
}
