body, html, .container-fluid {
     height: 100%;
}

body {
  overflow: hidden;
}

div {
  border: 2px solid #7a7a7a;
}

#header {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

#timeline {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

#top {
  /*display: block;
  position: absolute;*/
  height: 8%;
  width: 100%;
  padding: 5px;
}

#middle {
  /*display: block;
  position: absolute;*/
  height: 17%;
  width: 100%;
  padding: 5px;
}

#bottom {
  /*display: block;
  position: absolute;*/
  height: 72%;
  width: 100%;
  padding: 5px;
}

#map {
  /*display: inline-block;*/
  height: 100%;

  box-sizing: border-box;
  padding: 5px;
}

#events {
  box-sizing: border-box;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  height: 100%;
  max-height: 100%;

}

.event {
  display: none;

  padding: 10px;
  margin: 3px;
  border-radius: 10px;

  color: black;
  border: 3px solid #2c7bb6;
  background: #abd9e9;
}

.event-active {
  display: inline-block;
}

.event>h4{
  font-weight: bold;
}
/* SVG styles */

svg {
  background: #80cdc1;
}

.country {
  fill: #dfc27d;
  stroke: #a6611a;
}

.country:hover {
    fill: #fecc5c;
}

.country-active {

}

.eventPoint {
  fill: red;
  stroke: black;
}

.boundary {
  fill: none;
  stroke: #a6611a;
  stroke-width: .5px;
}

.graticule {
  fill: none;
  stroke: #a6611a;
  stroke-width: .5px;
  stroke-opacity: .5;
}
